*{
  box-sizing: border-box;
}
.Contaniner{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../images/Backgroud.png);
    background-size: cover;
  }
  .logo{
    position: absolute;
    width: 151px;
    height: 103px;
    top: 30px;
    right: 70px;
    /* background-image: url(../images/logo123.png);
    background-size: cover; */
    
  }
  .content_login{
    display: flex;
    justify-content:flex-end;
    padding: 10px 100px;
  }
  .col-right{
    margin: 150px 40px;
  
  }
  .login-title{
   
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #373839;
    
   
  }
  .lable-login{
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
  /* identical to box height */
  
    letter-spacing: 0.015em;
    color: #373839;
    
  }
  .input-login{
    display: flex;
    flex-direction: row;
    width: 340px;
    align-items: center;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #F2F2F2;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
    outline: none;
  }
  .button-login{
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(270deg, #FF5400 0%, #F17F21 80.56%);
    border-radius: 8px;
    border-style: solid ;
    border-width: 0.5px;
  
  }
  .P-Login{
    position: static;
    width: auto;
    height: 20px;
    left: calc(50% - 101px/2);
    top: calc(50% - 23px/2);
    text-align: center;
    padding: 0px;
  
    /* LMS Student / Sub-header */
  
    font-family: Mulish;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 10px;
  
  }
  .fogot-password{
    display: flex;
    justify-content: flex-end;
  }
  .fogot-password-link{
   
    width: auto;
    height: 21px;
    left: 10px;
    top: 6px;
    text-decoration: none;
    margin: 10px 30px;
    
  
    /* LMS Student / Content */
  
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */
  
    text-align: center;
  
    /* Orange/4 */
  
    color: #FF7506;
  }
  
  
  